*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(67, 3, 144);
}
h1{
    text-align: center;
    margin-top: 10px;
    color: antiquewhite;
}
.container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 75vh;
    right: 10%;
    margin: 70px;
    padding: 5px;
    border: 10px solid black;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
.box1, .box2{
    margin: 10px;
    padding: 0;
    border: 5px dotted whitesmoke;
    height: 400px;
    width: 400px;
}
/* ul{
    list-style: none;
} */
.Elements{
    background-color: coral;
    margin: 50px;
    padding: 10px;
}